@model Ex2AppWebFbiMostWanted.Models.FbiMostWanted

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>FbiMostWanted</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.FullName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Photo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Photo)
            @Html.ValidationMessageFor(model => model.Photo)
            <br/>
            <img src="@Model.Photo" alt="Photo"/><!-- HACK: acrescentada visualizacao da imagem -->
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AliasName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AliasName)
            @Html.ValidationMessageFor(model => model.AliasName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CrimesComitted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CrimesComitted)
            @Html.ValidationMessageFor(model => model.CrimesComitted)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
